.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background: black;
    padding: 0 24px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.leftSection {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 20px;
}

.logo {
    width: auto;
    height: 50px;
    cursor: pointer;

}

.rightSection {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navigation {
    display: flex;
    gap: 20px;
    line-height: 1.2 !important;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s;
    min-width: fit-content;
    text-wrap: nowrap;
    white-space: nowrap;

    &:hover {
        color: #4096ff;
    }

    &.active {
        text-decoration: underline;
    }
}

.presetsButton {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}

.langButton {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

@media (max-width: 480px) {
    .Header {
        padding: 0 16px;

        .rightSection,
        .navigation {
            gap: 8px;
        }

        .logo {
            height: 35px;
        }
    }
}