.content {
    padding: 0;
    padding-top: 76px;
    font-size: 16px;
    width: 100%;
    min-height: calc(100vh - 76px);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 48px 24px;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    text-align: center;
}

.title {
    margin-bottom: 0 !important;
    font-size: 48px !important;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.sliderContainer {
    display: flex;
    align-items: center;
    gap: 0px;
    max-width: 200px;
    padding: 0;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 12px;
}

.sliderLabel {
    font-size: 16px;
    font-weight: 500;
    min-width: 80px;
}

.slider {
    flex: 1;
}



.card {
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    :global(.ant-card-body) {
        padding: 20px 12px;
    }

    &.card3 {
        :global(.ant-card-body) {
            display: none;
        }
    }
}

.cardImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cardText {
    font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

.descriptionAlert {
    text-align: left;

    :global(.ant-alert-message) {
        width: 100%;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.descriptionTitle {
    font-weight: 600;
    font-size: 15px;
    margin-top: 4px;
    color: #1890ff;
    font-style: italic;
}

.descriptionItem {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}